body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

.none {
  display: none !important;
}

.header {
  background-color: rgb(255, 255, 255);
  max-width: 1440px;
  height: 60px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 8px 8px;
}

.header-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin: 18px auto 20px 88px;
  width: 72px;
  height: 28px;
  left: 88px;
  top: 18px;

  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #59606d;
}

.basket {
  margin: 16px 102px 17px auto;
  width: 34px;
  height: 33px;
  left: 1304px;
  top: 16px;
}

/* Каталог страницы */

.catalog {
}

.container {
  display: flex;
  max-width: 1440px;
  margin-top: 0px;
  position: absolute;
}

.cards-wrapper {
  width: 1104px;
  height: 848px;
  margin-top: 97px;
  margin-left: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 0;
  max-width: 264px;
  height: 272px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.card p {
  margin: auto 62px 6px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  color: #59606d;
}

.card h4 {
  margin: auto 185px 16px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
}

.card-img-like {
  width: 34px;
  height: 20px;
  left: 264px;
  top: 180px;
}

.card-img {
  margin: 18px 60.29px 16px 61px;
}

.catalog-elements {
  margin-top: 32px;
  margin-left: 87px;
  display: flex;
  flex-direction: column;
}

.text-cotalog {
  width: 111px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;

  color: #1f1f1f;
}

.catalog-elements p {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: #59606d;
}

.catalog-elements li {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #59606d;
  list-style-type: none;
}

.catalog-elements ul {
  padding: 0;
}
